Language: Cpp
IndentWidth: 4
# ContinuationIndentWidth: 4
ColumnLimit: 150

BinPackParameters: false
BinPackArguments: false

PointerAlignment: Left
ReferenceAlignment: Left

#AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AlignEscapedNewlines: Left
AlignAccessSpecifier: Left

PenaltyReturnTypeOnItsOwnLine: 9999
PenaltyBreakBeforeFirstCallParameter: 9999
PenaltyBreakFirstParameter: 9999

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveParameters: true

# BreakBeforeBraces: Stroustrup

InsertTrailingNewline: false
