[submodule "bee/external/glfw"]
    path = bee/external/glfw
    url = https://github.com/glfw/glfw.git

[submodule "bee/external/glm"]
    path = bee/external/glm
    url = https://github.com/g-truc/glm.git